.App {
  text-align: center;
  background-color: #F0F0C9;
}

.App-intro{
  font-family:Garamond, Georgia, serif;
  font-weight: bold;
}

.login {
  font-family: Garamond, Georgia, serif;
}

/* opensource-ny/opensource-ny */